[Desktop Entry]
Name=Address Book
Name[es]=Libreta de direcciones
Comment=A book to manage your contacts
Comment[es]=Una libreta para manajer sus contactos
Exec=c2addrbook
Icon=c2addrbook.png
Terminal=0
Type=Application
