[Desktop Entry]
Name=Cronos II
Name[es]=Cronos II
Comment=A GNOME mail client.
Comment[es]=Un cliente de correo electrónico para GNOME.
Exec=cronos
Icon=cronosII.png
Terminal=0
Type=Application
